*, * ::after, *::before {
    box-sizing: border-box;
}

/*mouse hover link*/
a:hover{
    color:black;
}



body{
    background-color: black;
}

h1{
    color: black;
    font-style:italic;
}

p{
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 900;
    font-size:12px;
}

header{
    float: left;
    width: 100%;
    height: 300px;
    text-align: center;
    background-color: rgb(255, 94, 0);

    
}

nav{
    float:left;
    width: 100%;
    height: 80px;
    text-align: center;
    background-color: rgb(153, 0, 255);
    margin-top: 10px;
}

main{
    float: left;
    width: 100%;
    height: 1000px;
    background-color: blueviolet;
    margin-top: 10px;
}



article{
    float:left;
    width: 41%;
    height: 400px;
    background-color: orangered;
    text-align: center;
    margin: 20px;
}

aside{
    float:left;
    width: 45%;
    height: 400px;
    background-color: orangered;
    text-align: center;
    margin: 20px;
}



footer{
    float:left;
    width: 100%;
    height: 100px;
    background-color: orangered;
    margin-top: 10px;
    text-align: center;
}