/**, * ::after, *::before {
    box-sizing: border-box;
}-->*/

/*mouse hover link*/
a:hover{
    color: white;
}

.navegacion {
    ul {
        list-style-type: style;
        margin: 0;
        padding: 0;
        overflow: hidden;
        
    }

    li {
        margin: 2px 0; 
    }

    li a {
        display: block;
        color: black;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

    li a:hover {
        background-color: violet;
    }
    
}

body{
    background-color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: black;
    box-shadow: 0 0 10px ;
    border-radius: 10px;
    text-align: center;*/
}


h1{
    color: black;
    font-style:italic;
    float:left;
}

p{
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 900;
    font-size:12px;
}

header{
    float: left;
    width: 100%;
    height: 200px;
    text-align: center;
    background-color: rgb(255, 94, 0);

    
}

nav{
    float:left;
    width: 100%;
    height: 80px;
    text-align: center;
    background-color: rgb(153, 0, 255);
    margin-top: 10px;
}

main{
    float: left;
    width: 100%;
    height: 1000px;
    background-color: blueviolet;
    margin-top: 10px;
}



.contenedor{
    float:left;
    width: 41%;
    height: 400px;
    background-color: orangered;
    text-align: center;
    margin: 20px;
    margin-top: 10px;
}

.listaCandidatos{
    float:left;
    height: 150px;
    text-align: center;
    background-color: rgb(153, 0, 255);
    margin-top: 10px;
    font-size: 10px; 
    width: 50%;
    margin-left: 10px;
}



aside{
    float:left;
    width: 90%;
    height: 400px;
    background-color: orangered;
    text-align: center;
    margin: 20px;
}



footer{
    float:left;
    width: 100%;
    height: 120px;
    background-color: orangered;
    margin-top: 10px;
    text-align: center;
}
.carousel-text-container {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Asegura que el carrusel y el texto estén alineados verticalmente */
    width: 100%; /* Ajusta esto según sea necesario */
    padding: 20px; /* Espacio alrededor del contenedor */
}

.carousel-image {
    width: 450px; 
    height: auto; 
    margin-top: 35px;
}


.carousel {
    max-width: 50%;
}

.text-area {
    flex-grow: 1;
    padding: 20px;
    border: 1px solid #ccc;
}
/*@media screen and (max-width: 480px) {
    body {
        font-size: 12px;
    }*/

   .container {
    float:left;
    width: 100%;
    height: 100px;
    text-align: center;
    background-color: rgb(153, 0, 255);
    margin-top: 10px;
    margin-left: 250px;
    font-size: 100px;
    
   
    }
    .container2 {
        float:left;
        width: 50%; /*ancho*/
        height: 400px;
        text-align: center;
        background-color: rgb(153, 0, 255);
        margin-top: 20px;
        margin-left: 10px;
        font-size: 200px;
       
        }
}




